/* Done by Priyanka Balaji*/
html
{
	color: #9C0D0D;
	background-color: #f1f3f9;
	text-rendering: optimizeSpeed;
	margin: 5px;
	padding: 5px;
	overflow-x: hidden;
	position: absolute;
	display: block;
	max-width: 100%;
	max-height: 100%;
	width: auto;
	height: auto;
	hyphens: auto;

}
*
{
	box-sizing: border-box;
}

body
{
	font-family: 'Times New Roman', serif;
	line-height: 1.5em;
	font-size: 24px;
}

h1
{
	font-size: 2em;
	color: #9C0D0D;
	margin: 0.67em;
	font-family: 'Times New Roman', serif;
	text-align: center;
	line-height: 1.5em;
	padding-top: 95px;
	max-width: 100%;
	max-height: 100%;
	
}

h2
{
	font-size: 1.5em;
	color: #9C0D0D;
	margin: 3px;
	font-family: 'Times New Roman', serif;
	text-align: center;
	line-height: 1.5em;
	width: 100%;
	padding: 5px;
	
}

h3              {
	font-size: 1.17em;
	margin: .83em 0;
	color: #9C0D0D;
	font-family: 'Times New Roman', serif;
	text-align: center;
	line-height: 1.5em;
	
}
h4				{
	font-size: 1.12em;
	margin: .83em 0;
	color: #9C0D0D;
	font-family: 'Times New Roman', serif;
	text-align: center;
	line-height: 1.5em;
	
}
h5              {
	font-size: 0.83em;
	margin: 1.5em;
	color: #9C0D0D;
	font-family: 'Times New Roman', serif;
	text-align: center;
	line-height: 1.5em;
	
}
h6
{
	font-size: .75em;
	margin: 1.67em 0;
	color: #9C0D0D;
	font-family: 'Times New Roman', serif;
	text-align: center;
	line-height: 1.5em;
	
}


/*Flexbox*/
.row {
	display: flex;
}

.column {
	flex: 50%;
	padding: 5px;
}
.flexalign
{
	margin: 5em 0em 0em 0em;
	padding: 1em;
}

/*Smooth Navigation*/
.topnav
{
	list-style: none;
	padding-left: 170px;
	width: 125%;

}

.topnav ul
{
	    list-style: none;
        height: 30px;
	    margin-left: -41px;
	    margin-right: 15px;
	 	padding: 10px;
        display: block;
}

    .topnav li
	{
        float: left;
        margin: -10px 1px 5px -8px;
        padding: 0px 6px;
        position: relative;
    }

    .topnav a
	{
        color: #9C0D0D;
        display: block;
        font: bold 25px/40px 'Times New Roman', serif;
    	padding: 5px 37px;
	    text-align: left;
		position: relative;
		text-decoration: none;
	/* background: #ffddca;*/
	transition: all .25s ease;
		
	}

.topnav li:hover a
{
    background: #9C0D0D;
	color:#FFF;
}
.topnav li ul {
	left: 39px;
	width: 179%;
	opacity: 0;
	position: absolute;
	visibility: hidden;
	z-index: 1;
	transition: all .25s ease;
}
.topnav li:hover ul {
	opacity: 1;
	top: 50px;
	visibility: visible;
}
.topnav li ul li {
	float: none;
	width: auto;
}
.topnav li ul a:hover {
	background: grey;
}
/* Clearfix
.cf:after, .cf:before {
	content: "";
	display: table;
}
.cf:after {
	clear: both;
}*/

/*Breadcrumbs*/
.breadcrumb {
	padding: 45px 0px 10px;
	margin: 5px 5px 5px 5px;
	position: absolute;
	width: 58%;
}
.breadalign{
	padding: 30px 0px 20px 0px;
	margin: 5px 5px 5px 5px;
}
.breadcrumb li {
	display: inline;
	font-size: 20px;
}
.breadcrumb li+li:before {
	padding: 20px;
	content: ">";
}
.breadcrumb li a {
	color: #9C0D0D;
	text-decoration-style: double;
}
.breadcrumb li a:hover {
	color: black;
	text-decoration: underline;
}

/*logo*/
.logo
{
     margin-left:-40px;
     width: 250px;
     height: 250px;
     margin-top: -100px;
     position: absolute;
}

/*Image scaling*/
.scaled
{
	max-width: 100%;
	max-height: 100%;
	border: double #9C0D0D 5px;
	color-rendering: optimizeQuality;
	image-rendering: pixelated;
}

/*TEXT align*/
.text
{
	text-align: justify;
	padding: 6px;
	margin: 1px;
}


footer
{
	position: absolute;
	margin-top: 50%;
	display: contents;
	font: caption;
}
/*Line separation*/
hr
{
	border-style: solid;
	border-width: 3px;
	max-width: 200%;
	border-color: darkred;
	border-block-end-style: none;
	width: 120%;
}

address
{
	font-style: normal;
	text-align: justify;
	position: absolute;
}

table, th, td
{
	border: 1px none;
	width: max-content;
}

/*Image Animation*/

.container
{
	max-width: 100%;
	width: auto;
}
/*
.overlay
{
	position: absolute;
	bottom: 10px;
	background: rgba(0, 0, 0, 0.5); /* Black see-through
	width: 420px;
	transition: .5s ease;
	opacity:0;
	color: white;
	font-size: 30px;
	padding: 20px;
	text-align: center;
}

.container:hover .overlay
{
	opacity: 1;
}
*/
i
{
	font-size: 20px;
}

.copyright
{
	color: #2D2D2D;
}

a
{
	color: #9C0D0D;
}
.dropdown
{
	display: none;
}


#video
{
	position: relative;
	display: block;
}

#images1, #images2, #images3, #images4
{
    max-width:100%;
	max-height: 100%;
	height: auto;
}
#Menufont1, #Menufont2, #Menufont3, #Menufont4
{
	text-decoration: none;
}

/*Device independant*/
@media screen and (max-width: 720px) {
	button
	{
		font-size: 48px;
		border: none;
		background-color: transparent;
		color: inherit;

	}

	.dropdown {
		display: inline-block;
		position: relative;
	}
	.dropdown-content {
		display: none;
		position: absolute;
		width: 365%;
		overflow: auto;
		box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	}
	.dropdown:hover .dropdown-content {
		display: block;
	}
	.dropdown-content a {
		display: block;
		color: inherit;
		padding: 5px;
		text-decoration: none;
		background-color: white;
		text-align: center;
		z-index: 1;
		position: sticky;
	}

	.dropdown-content a:hover {
		color: #FFFFFF;
		background-color: #9C0D0D;

	}

	.logo
	{
		width: 100%;
		height: 180px;
		top: 49px;
		left: 92px;
		position: absolute;
		background-size: contain;
	}
	.topnav a
	{
		display: none;
	}
	html, body
	{
		overflow-x: hidden;
		max-width: 100%;
		max-height: 100%;
		position: relative;
		hyphens: auto;
	}

	h1
	{
		font-size: 20px;
		top: 65px;
		left: 50px;
		max-width: 100%;
		max-height: 100%;
		padding: 5px;
		margin: 5px;
	}
	h2
	{
		font-size: 18px;
		position: relative;
	}

	.scaled
	{
		max-width: 50%;
		max-height: 50%;
		position: relative;
	}
	nav
	{
		top: 10px;
	}
	.text
	{
		font-size: 13px;
		padding: 5px;
		margin: 1px;
		line-height: normal;
		max-width: 100%;
	}
	.breadcrumb
	{
		display: none;
	}


	footer
	{
		display: contents;
		position: absolute;
	}
	#nodisplay, #nodisplay1
	{
		display: none;
	}

	#images1, #images2, #images3, #images4 {
		max-width: 100%;
		max-height: 100%;
		height: auto;
		position: relative;
	}

	#Menufont1, #Menufont2, #Menufont3, #Menufont4 {
		font-size: 15px;
		height: auto;
		position: relative;
		text-size-adjust: auto;
		hyphens: auto;
		display: inline-block;
		text-decoration: none;
	}
	#Making
	{
		display: none;
	}

	#Chocoimg, #Biscuitimg, #Veganimg, #Cakeimg, #Bangloreimg, #Hyderabadimg, #chennaiimg
	{
		position: relative;
		max-width: 100%;
		max-height:100%;
		height: auto;
		width: auto;
		display: block;
	}
	#homeimg, #video
	{
		position: relative;
		max-width: 100%;
		max-height:100%;
		height: auto;
		width: auto;
		display: block;
	}

}

urlset,loc,lastmod,priority
{
	display: block;
	color: #9C0D0D;
	font-size: 25px;
	line-height: 60px;

}
#adresse-about-us {
	width: 100%;
	text-align: center;
	border: 1px none;

}

.aboutalign
{
	text-align: center;
}

input[type=text], select, textarea {
	width: 100%;
	padding: 12px;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
	margin-top: 6px;
	margin-bottom: 16px;
	resize: vertical;
}

input[type=submit] {
	background-color: #bd610b;
	color: #ffffff;
	padding: 12px 20px;
	border: none;
	border-radius: 4px;
	cursor: pointer;
	font-size:25px;
}

input[type=submit]:hover {
	background-color: #bd610b;
}

#containerConectUs {
	border-radius: 5px;
	background-color: #ffddca;
	padding: 20px;
}


