/* Done by Priyanka Balaji*/
html
{
	color: #8b1010;
	background-image: linear-gradient(to right, #DAA06D, #EDC9AF,#DAA06D);
	font-family: "Times New Roman", Times, serif ;
    line-height: 2em;
	font-size: 24px;
	position: absolute;
	padding: 1%;
}
h1              {
	font-size: 70px;
	text-align: center;
	color: #8b1010;
	margin-top: 10px;
	text-shadow: 4px 4px 4px #a7a4a4;
}
h2              {
	font-family: 'Petit Formal Script', serif;
	font-size: 48px;
	text-align: center;
	text-shadow: 4px 4px 4px #a7a4a4;
}
h3              { font-size: 1.17em;
text-align: center;
}
h4				{font-size: 1em;}
h5              { font-size: 0.83em;  }
/*Browser resolution*/
.WebContainer{
	width:100%;
	min-width:1000px;
	height:auto;
}
/*Flexbox*/
.row {
	display: flex;
}

.column {
	flex: 50%;
	padding: 5px;
	height: 300px;
}
/*Smooth Navigation*/

.topnav ul {
	-webkit-font-smoothing: antialiased;
	list-style: none;
	margin: 0;
	padding: 0;
	width: 100%;
}
.topnav li {
	float: left;
	margin: 0;
	padding: 0;
	position: relative;
}
.topnav a {
	color: #8b1010;
	display: block;
	font: bold 20px/50px Times New Roman,serif;
	padding: 0 48.5px;
	text-align: left;
	text-decoration: none;
	background: #ffddca;
	display: block;
	transition: all .25s ease;
}

.topnav li:hover a {
	background: #b5651d;
	color:#FFF;
}
.topnav li ul {
	left: 0;
	width: 179%;
	opacity: 0;
	position: absolute;
	visibility: hidden;
	z-index: 1;
	transition: all .25s ease;
}
.topnav li:hover ul {
	opacity: 1;
	top: 50px;
	visibility: visible;
}
.topnav li ul li {
	float: none;
	width: 100%;
}
.topnav li ul a:hover {
	background: #C89D7C;
}
/* Clearfix */
.cf:after, .cf:before {
	content: "";
	display: table;
}
.cf:after {
	clear: both;
}

/*Breadcrumbs*/
.breadcrumb {
	padding: 10px 10px;
	list-style: none;
}
.breadcrumb li {
	display: inline;
	font-size: 20px;
}
.breadcrumb li+li:before {
	padding: 20px;
	content: ">";
}
.breadcrumb li a {
	color: #0275d8;
	text-decoration: none;
}
.breadcrumb li a:hover {
	color: #01447e;
	text-decoration: underline;
}

/*Logo*/
.logo
{
     float: none;
     width: 200px;
     height: 200px;
     margin-top: -60px;
     position: absolute;
 }

/*image scaling*/
.scaled
{
	width: 500px;
	height: 500px;
	object-fit: cover;
	border: double #8b1010 5px;
}
/*TEXT align*/
.text
{
	text-align: justify;
	padding: 20px 20px 20px 20px;
}

footer
{
	position: relative;
	width: 48.5em;
	margin-top: 50%;
	display: block;
}

address
{
	font-style: normal;
	text-align: justify;
	position: absolute;
}

table, th, td {
	border: 1px none;
}

/*Image Animation*/

.container {
	position: relative;
	width: 100%;
	max-width: 300px;
}


.overlay {
	position: absolute;
	bottom:15px;
	background: rgba(0, 0, 0, 0.5); /* Black see-through */
	width: 450px;
	transition: .5s ease;
	opacity:0;
	color: white;
	font-size: 20px;
	padding: 30px;
	text-align: center;
}

.container:hover .overlay {
	opacity: 1;
}

